@if (Awpbs.Web.Config.IsSnookerByb)
{
    <div style="margin-left:15px;margin-right:15px;">
       <p>We like snooker, we like creating web/mobile apps in our spare time. So we decided to bring a little bit of modern technology into the world of snooker. Our project is at its very beginning, but our team of four creative individuals is dedicated to developing Snooker Byb into something that will be used by millions of snooker players around the world.</p>
       <p>Welcome to Snooker Byb!</p>
       <p>October 2015</p>
    </div>
}
else
{
    @*<div>
        <h1>Message From The Team</h1>

        <p>About 3 years ago we changed our lifes to the better. We transformed from being mostly sedative to having a very active multi-sport, athleticly eventful life-style. We believe the way we live our lifes now is so much better than before.</p>
        <p>Change is hard, and over these 3 years we were constantly looking for more motivation to persevere. We found that motivation in building running teams, using Endomondo (our tracking app of choice), and in defining new inspiring yet achievable athletic goals for ourselves.</p>
        <p>We realized that we have a passion in helping others to motivate themselves and decided to build a tool for our friends and for the larger community to change to the better and to keep improving.</p>
        <p>Welcome to Best Your Best!</p>
    </div>*@
}