<div class="row">
    <div class="col-sm-6 col-md-6 text-center">
        <h3>Snooker Byb for iPhone and iPad</h3>
        <a href="https://itunes.apple.com/us/app/snooker-byb/id1032563817?mt=8" target="_blank"><img style="height:80px" src="~/Images/app-store-badge.svg" /></a>
        <br/>
        <br/>
        <p>iPhone 4s, 5, 6, 6+, 6s</p>
    </div>

    <div class="col-sm-6 col-md-6 text-center">
        <h3>Snooker Byb for Android</h3>
        <a href="https://play.google.com/store/apps/details?id=com.bestyourbest.snooker" target="_blank"><img style="height:80px" src="~/Images/google-play-badge.svg" /></a>
        <br />
        <br />
        <p>Android 4.1 and newer</p>
    </div>
</div>

<div class="row text-center">
    <p>If you own a table, consider using <a href="/forvenues">Snooker Byb for Venues</a></p>
</div>
