@{
    ViewBag.Title = "Become a Snooker Byb Ambassador!";
}

@section SocialMetaData
{
<meta property="og:title" content="Snooker Byb – Where people connect around the game of snooker" />
<meta property="og:description" content="Help grow your local community of snooker players by becoming a Snooker Byb ambassador." />
<meta property="og:type" content="article" />
<meta property="og:image" content="http://www.snookerbyb.com/images/snooker-byb-screens-1.png" />
<!-- documentation: https://developers.facebook.com/docs/sharing/webmasters#markup-->
}

<div class="container">

    <div class="page-header">
        <h1>Snooker Byb "Ambassador"</h1>
        <div class="addthis_sharing_toolbox"></div>
    </div>

    <h2>December 1, 2015</h2>

    <div class="row">
        <div class="col-md-5">
            

            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>You</strong>
                </div>
                <div class="panel-body">
                    <p>
                        You love snooker.
                    </p>
                    <p>
                        You'd like to grow local snooker community.
                    </p>
                    <p>
                        You like to use your smartphone.
                    </p>
                </div>
                @*<div class="panel-footer">-</div>*@
            </div>
        </div>

        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>We</strong>
                </div>
                <div class="panel-body">
                    <p>
                        @Html.ActionLink("We", "About", "Home") are a team of 4 creative individuals, developing a mobile app for snooker.
                    </p>
                    <p>
                        Our mission is to help grow local snooker communities and connect people around the game of snooker.
                    </p>
                </div>
                @*<div class="panel-footer"><a href="@Url.Action("About")">Snooker Byb team</a></div>*@

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>“Snooker Byb” mobile app</strong>
                </div>
                <div class="panel-body">
                    <p>
                        It runs on <a href="https://itunes.apple.com/us/app/snooker-byb/id1032563817" target="_blank">iPhones, iPads</a> and <a href="https://play.google.com/store/apps/details?id=com.bestyourbest.snooker" target="_blank">Android devices</a>.
                    </p>
                    <p>
                        We are developing <a href="http://www.snookerbyb.com">Snooker Byb</a> for people like you.
                    </p>
                    <p>
                        We are not getting paid to do this. And we need your help.
                    </p>
                </div>
                @*<div class="panel-footer">-</div>*@
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>Ambassadors</h1>
            <p>
                You can contribute by becoming a Snooker Byb "Ambassador”
            </p>
            <p>
                Ambassadors influence the development of Snooker Byb by sharing their experiences using the app with the team.
            </p>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>What ambassadors do:</strong>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        They play snooker regularly (you already do, if you are reading this :) )
                    </li>
                    <li class="list-group-item">
                        They use Snooker Byb app to schedule snooker games with friends
                    </li>
                    <li class="list-group-item">
                        They occasionally record their notable breaks into the app
                    </li>
                    <li class="list-group-item">
                        They sometimes record match scores into the app
                    </li>
                    <li class="list-group-item">
                        They share their experiences with the Snooker Byb team – over the email and occasionally over the phone
                    </li>
                    <li class="list-group-item">
                        They report bugs
                    </li>
                    <li class="list-group-item">
                        They suggest ideas
                    </li>
                </ul>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>What is it there for you?</strong>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        We listen. Your input will influence our development efforts. We will make you a product that you want.
                    </li>
                    <li class="list-group-item">
                        The app is free today, but at a later time we will have to introduce paid functions to cover our costs. You and your friends will use the product for free.
                    </li>
                    <li class="list-group-item">
                        We will list your name as one of the ambassadors on our web site (if you’d like)
                    </li>
                    <li class="list-group-item">
                        A lot of people are missing out on snooker because they don’t know where to play and they don’t know enough snooker players in their area. Many people are
                        looking for new opponents and don’t know how to find them. If you are interested, we can help you set up a proper social web presence for your local community,
                        around Snooker Byb, which will help address these issues. We know it will lead to the <strong>growth of your snooker community</strong>. However, we first need you to become an
                        ambassador!
                    </li>
                </ul>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>What's the catch?</strong>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        There is none.
                    </li>
                    <li class="list-group-item">
                        We will accept <strong>100 ambassadors</strong> and we will not charge them a dime. Not now. Not in the future.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>How to join?</h1>
            <p>Please fill up a 10-question survey here: <a href="https://www.surveymonkey.com/r/SJXXXWB" target="_blank">https://www.surveymonkey.com/r/SJXXXWB</a></p>
            <a class="btn btn-primary" href="https://www.surveymonkey.com/r/SJXXXWB" style="margin-top:10px;margin-bottom:10px;">Start the survey</a>
            <p>Make sure to leave your contact info at the end.</p>
            <p>You can also always contact us at <a href="mailto:team@snookerbyb.com" target="_top">team@snookerbyb.com</a></p>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-md-12">
            <h1>Share this with your friends:</h1>
            <div class="addthis_sharing_toolbox"></div>
        </div>
    </div>

    <hr/>

    @*<div class="row" style="margin-top:30px;">
        <div class="col-md-12">
            <img src="~/Images/snooker-byb-screens-1.png" style="width:500px;" class="text-center" />
        </div>
    </div>*@

</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000" style="margin-bottom:-45px;">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active" style="background-color:#252424;">
            <img src="~/images/screen-feed.png">
            <div class="container">
                <div class="carousel-caption">
                    <h2>Building a snooker community</h2>
                </div>
            </div>
        </div>
        <div class="item" style="background-color:#252424;">
            <img src="~/images/screen-invite.png">
            <div class="container">
                <div class="carousel-caption">
                    <h2>Find and schedule snooker games</h2>
                </div>
            </div>
        </div>
        <div class="item" style="background-color:#252424;">
            <img src="~/images/screen-break.png">
            <div class="container">
                <div class="carousel-caption">
                    <h2>Keep track of your scores and breaks</h2>
                </div>
            </div>
        </div>
        <div class="item" style="background-color:#252424;">
            <img src="~/images/screen-venues.png">
            <div class="container">
                <div class="carousel-caption">
                    <h2>Find places to play</h2>
                </div>
            </div>
        </div>
        <div class="item" style="background-color:#252424;">
            <img src="~/images/screen-find-people.png">
            <div class="container">
                <div class="carousel-caption">
                    <h2>Connect with other players</h2>
                </div>
            </div>
        </div>
    </div>
</div>


