@{
    ViewBag.Title = "Snooker Byb for Venues";
}

@section SocialMetaData
{
    <meta property="og:title" content="Snooker scoreboard for venues - Snooker Byb" />
    <meta property="og:description" content="A scoreboard for your snooker table." />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://www.snookerbyb.com/images/scoreboard.png" />
    <!-- documentation: https://developers.facebook.com/docs/sharing/webmasters#markup-->
}

<div class="container text-center" style="background-color:transparent">
    <div class="row">

        <div class="addthis_sharing_toolbox"></div>

        <h1>You:</h1>
        <p>Own a snooker table OR run a billiard hall</p>
        <p>Want your players to be more engaged</p>
        <p>Want more people to play snooker</p>
    </div>
</div>

<hr>

<div class="container text-center" style="background-color:transparent">
    <div class="row">
        <h1>Snooker Byb for Venues:</h1>
        <p>Designed for <b>you</b></p>
        <p>Delights your players</p>
        <p><b>Free in 2016</b></p>
    </div>
</div>

<hr />

<div class="container text-center" style="background-color:transparent">
    <div class="row">
        <h1>Use it:</h1>
        <p><i>Snooker Byb for Venues</i> is an app that can run on your spare iPad.</p>
        <p>Install the app on an iPad, put it by your snooker table, and have your players use it in place of a physical scoreboard.</p>
        <p>Your players will have Byb accounts, their matches and breaks will be automatically saved and available online and on their mobile apps.</p>
        <p><i>Snooker Byb for Venues</i> is fully integrated with the <a href="/">Snooker Byb</a> app</p>
        <p>Did we say it's FREE? Yes it is free - to you and to your players - as long as you participate in our beta program</p>
    </div>
</div>

<hr />

<div class="container text-center" style="background-color:transparent">
    <div class="row">
        <h1>Beta program:</h1>
        <p><i>Snooker Byb for Venues</i> is in beta. Join our beta program and enjoy using the product for free in your venue. Most importantly, share your feedback and influence the development of the product to tailor it to your needs. The app:</p>
        <div class="col-sm-6 col-md-6 text-center">
            <h3>Already can</h3>
            <p>Serve as an electronic scoreboard</p>
            <p>Maintain players profiles, visible online</p>
            <p>Keep notable breaks and other stats</p>
            <p>Have opponents confirm scores &amp; breaks</p>
        </div>

        <div class="col-sm-6 col-md-6 text-center">
            <h3>Will soon</h3>
            <p>Auto-generate ratings based on confirmed matches &amp; breaks</p>
            <p>Help running snooker tournaments and leagues</p>
        </div>
    </div>
</div>

<hr />

<div class="container" style="background-color:transparent">

    <div class="row">
        <div class="col-sm-6 col-md-6 text-center">
            <h3>Apple iPad</h3>
            <p>iPad 2-4, iPad Air, iPad Mini, iPad Pro</p>
            <p>E-mail us <a href="mailto:team@snookerbyb.com">team@snookerbyb.com</a> to get your copy of the app</p>
        </div>

        <div class="col-sm-6 col-md-6 text-center">
            <h3>Android Tablets</h3>
            <p>Android version is not yet available</p>
            <p>E-mail us <a href="mailto:team@snookerbyb.com">team@snookerbyb.com</a> to show your interest</p>
        </div>
    </div>
</div>

<hr />

<div class="container text-center" style="background-color:transparent">
    <div class="row">
        <h3>Here is how the scoreboard looks:</h3>
        <img class="img-responsive" src="~/Images/screengrab-forvenues1.png" alt="Snooker scoreboard - Snooker Byb" />
    </div>
</div>

<hr />

<div class="container text-center" style="background-color:transparent">
    <div class="row">
        <p>Watch this short video on how the beta-version of the app operates.</p>

        <div class="addthis_sharing_toolbox"></div>

        <div class="videoWrapper">
            <iframe id="video" width="1000" height="600" src="https://www.youtube.com/embed/iCLhlNbb-G4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
