@{
    Layout = null;
}

<html>
<head>
</head>
<body>
    <div>
        <p>
            'Byb Invite' for a game of snooker.
        </p>
        <p>
            <span style="color:gray;">From: </span><span style="font-weight:bold">{0}</span>
        </p>
        <p>
            <span style="color:gray;">On: </span><span style="font-weight:bold">{1}</span>
        </p>
        <p>
            <span style="color:gray;">At: </span><span style="font-weight:bold">{2}</span>
        </p>
    </div>

    <div>
        <p>On the device where Snooker Byb is installed tap here:</p>
        <p style="margin-top:30px;margin-bottom:30px;">
            <a style="font-weight:bold; background:#DB3638;color:white;padding: 15px 50px 15px 50px" href="snookerbyb://gamehost/accept/{3}">Accept</a>
            <a style="font-weight:bold; background:#323232;color:white;padding: 15px 50px 15px 50px" href="snookerbyb://gamehost/decline/{3}">Decline</a>
        </p>
        <p>
            Or shoot <span>{0}</span> a message over email:
            <b>{4}</b>
        </p>
        <p>
            Please do not reply to this email address -- Snooker Byb Team.
        </p>
    </div>
</body>
</html>