@{
    Layout = null;
}


<html>
<head>
    <meta property="al:ios:url" content="snookerbyb://athlete" />
    <meta property="al:ios:app_store_id" content="1032563817" />
    <meta property="al:ios:app_name" content="Snooker Byb" />
    <meta property="al:android:url" content="snookerbyb://athlete" />
    <meta property="al:android:package" content="com.bestyourbest.snooker" />
    <meta property="al:android:app_name" content="Snooker Byb" />
</head>
<body>
    <p>
        <a target="_blank" href="snookerbyb://athlete">Byb 8</a>
    </p>
    <p>
        <a href="http://www.snookerbyb.com">Website</a>
    </p>
</body>
</html>