@model Awpbs.Web.App.Models.CommunityPlayersModel
@{
    ViewBag.Title = "Snooker players in " + Model.CommunityName;
    if (BybUrlHelper.IsInIFrame == true)
    {
        Layout = "~/Views/Shared/_LayoutIFrame.cshtml";
    }
}

@{ Html.RenderPartial("HeaderPartial", Model); }

<div id="list" class="container">
    <div style="margin-bottom:20px;margin-top:20px;">
        <p>Download Snooker Byb on your mobile to find <strong>amateur snooker players</strong> in @Model.Country.Name and in your city. Invite them for a snooker match, schedule games.</p>

        @if (Model.Players.Count > 0)
        {
            <h2>Some of the players in the community:</h2>
        }
    </div>

    @for (int row = 0; ; ++row)
    {
        int index1 = row * 2 + 0;
        int index2 = row * 2 + 1;

        Awpbs.PersonBasicWebModel person1 = null;
        Awpbs.PersonBasicWebModel person2 = null;
        if (index1 < Model.Players.Count)
        {
            person1 = Model.Players[index1];
        }
        if (index2 < Model.Players.Count)
        {
            person2 = Model.Players[index2];
        }

        if (person1 == null && person2 == null)
        {
            break;
        }

        <div class="row">
            @if (person1 != null)
            {
                <div class="col-sm-6 col-md-6">
                    @{Html.RenderPartial("MiniSnookerProfile2", person1);}
                </div>
            }

            @if (person2 != null)
            {
                <div class="col-sm-6 col-md-6">
                    @{Html.RenderPartial("MiniSnookerProfile2", person2); }
                </div>
            }
        </div>
    }

    @if (Model.Players.Count > 5)
    {
        <p>Download Snooker Byb on your mobile to find amateur snooker players in your area. Invite them for a snooker match, schedule games.</p>
    }
</div>

<hr />

<div class="container">
    @Html.Partial("~/Views/Home/_MobileAppsPartial.cshtml")
</div>

<div class="container">
    @{ Html.RenderPartial("Partners", Model); }
</div>
