@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="container">
    <div class="row" style="font-size:21px;margin-bottom:20px;margin-top:20px;">

        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p>
                Please check your email to reset your PIN/password.
            </p>
        </div>

    </div>
</div>
